@font-face { font-family: Delicious; src: url('./../include/fonts/hinglish.ttf'); } 


html, body {
    height: 100%;
    margin: 0;
    
}

.bodyBG{
    background: url('/sdf/images/website/misc/360.jpg');
    
    
    
    z-index:-1;
    
}

.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
}

.affix + .container-fluid {
    padding-top: 70px;
}
  

  