
.lg{
    font-size:22px;
}

.add_qty{
    width: 28px;
    height: 28px;
    background: linear-gradient(#fff, #f9f9f9);
    display: inline-block;
    border: 1px solid #c2c2c2;
    cursor: pointer;
    font-size: 19px;
    border-radius: 50%;
    padding-left: 7px;
    padding-top:2px;
    line-height: 1;
}

.rmv_qty{
    width: 28px;
    height: 28px;
    background: linear-gradient(#fff, #f9f9f9);
    display: inline-block;
    border: 1px solid #c2c2c2;
    cursor: pointer;
    font-size: 23px;
    border-radius: 50%;
    padding-left: 8px;
    line-height: 1;
}